<%= @message_thread.title %><br>

<% @message_thread.messages.each do |message| %>
  <div>
    <div class="<%= "#{message.message_type.to_s}-message" %>">
      <%= simple_format(message.content) %>
    </div>
  </div>
<% end %>

<%= form_with(model: @message, url: add_message_message_thread_path(@message_thread), method: :post, html: { class: "new-message-form" }) do |f| %>
  <%= f.text_area(:content, size: "80x5", placeholder: '質問を入力してください') %>
  <%= f.submit('質問する') %>
<% end %>
