  <% if @user_message.errors[:content].present? %>
    <div style="color: red;">
      <%= t("activerecord.attributes.message.question") %>
      <%= @user_message.errors[:content].join(", ") %>
    </div>
  <% end %>
  <div class="message-content-input">
    <%= f.text_area(:content, placeholder: '質問を入力してください', class: "textarea", rows: 5, id: "message-content") %>
  </div>
  <div class="field">
    <div class="file has-name">
      <label class="file-label">
        <%= f.file_field(:message_files, multiple: true, class: "file-input", id: "message-files-input") %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            ファイルを選択してください
          </span>
        </span>
        <span class="file-name" id="file-name">
          選択されていません
        </span>
      </label>
    </div>
  </div>
  <% if params[:action] == "show" %>
    <div class="field">
      <label class="checkbox">
        <%= f.check_box(:send_prev_messages_to_openai_api, value: 1, class: "checkbox", checked: @user_message.send_prev_messages_to_openai_api) %>
        過去のやり取りを履歴としてChatGPTに送信する（最大<%= Rails.configuration.static_config.max_prev_message_count %>ターンまで）
      </label>
    </div>
  <% end %>
  <div>
    <%= f.submit('送信する', class: "button is-info is-normal mt-1", id: "submit-button") %>
    <span id="submit-message" style="display: none;">しばらくお待ちください...</span>
  </div>

  <script>
    // ファイル選択時の処理（画像名を画面表示）
    $("#message-files-input").on("change", function() {
      const files = this.files;
      const $fileName = $("#file-name");

      if (files.length > 0) {
        const fileNames = Array.from(files).map(file => file.name).join(", ");
        $fileName.text(fileNames);
      } else {
        $fileName.text("選択されていません");
      }
    });

    // フォーム送信時の処理
    $("#submit-button").closest("form").on("submit", function() {
      const $submitButton = $(this).find("#submit-button");
      $submitButton.prop("disabled", true);
      $submitButton.html("送信中...");

      $("#submit-message").show();
    });

    // Ctrl + Enter でフォーム送信
    $(document).on("keydown", "#message-content", function(e) {
      if ((e.ctrlKey || e.metaKey) && e.key === "Enter") {
        e.preventDefault();
        $(this).closest("form").submit();
      }
    });
  </script>