  <% if @user_message.errors[:content].present? %>
    <div style="color: red;">
      <%= t("activerecord.attributes.message.question") %>
      <%= @user_message.errors[:content].join(", ") %>
    </div>
  <% end %>
  <div class="message-content-input">
    <%= f.text_area(:content, placeholder: '質問を入力してください', class: "textarea", rows: 5) %>
  </div>
  <% if params[:action] == "show" %>
    <div class="field">
      <label class="checkbox">
        <%= f.check_box(:send_prev_messages_to_openai_api, value: 1, class: "checkbox", checked: @user_message.send_prev_messages_to_openai_api) %>
        過去のやり取りを履歴としてChatGPTに送信する（最大<%= Rails.configuration.static_config.max_prev_message_count %>ターンまで）
      </label>
    </div>
  <% end %>
  <div class="field">
    <label class="file-label">
      <%= f.file_field(:message_files, multiple: true, class: "file-input") %>
      <span class="file-cta">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">ファイルを選択してください</span>
    </label>
  </div>
  <div>
    <%= f.submit('送信する', class: "button is-info is-normal mt-1", id: "submit-button") %>
    <span id="submit-message" style="display: none;">しばらくお待ちください...</span>
  </div>

  <script>
    $("#submit-button").closest("form").on("submit", function() {
      const $submitButton = $(this).find("#submit-button");
      $submitButton.prop("disabled", true);
      $submitButton.html("送信中...");

      $("#submit-message").show();
    });
  </script>