<div class="search-page-container">
<%= search_form_for(@q, url: search_chats_path) do |f| %>
  <div class="search-form-field mb-4">
    <div class="field">
      <%= f.label(:messages_content_cont, "文字列で検索", class: "label") %>
      <div class="control">
        <%= f.search_field(:messages_content_cont, class: "input", value: params.dig(:q, :messages_content_cont)) %>
      </div>
    </div>
  </div>

  <div class="field mb-4">
    <%= f.label(:tags_id_eq, "タグで絞り込み", class: "label") %>
    <div class="control">
      <div class="select">
        <%= f.select(:tags_id_eq, @tags_for_search, { include_blank: "", selected: params.dig(:q, :tags_id_eq) }) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label(:active_eq, "表示状態", class: "label") %>
    <div class="control">
      <div class="select">
        <%= f.select(:active_eq, options_for_select([["表示中のみ", "1"], ["非表示のみ", "0"], ["すべて", ""]], params.dig(:q, :active_eq))) %>
      </div>
    </div>
  </div>

  <div class="field mb-6">
    <%= f.submit("検索", class: "button is-primary is-light is-normal mt-4") %>
  </div>
<% end %>

<div class="search-results">
  <% if @searched_message_threads.present? %>
    検索にヒットしたチャットは以下になります。
    <% @searched_message_threads.each do |message_thread| %>
      <div class="mt-2 search-result-item">
        <%= link_to(message_thread.title, chat_path(message_thread)) %>
        <% message_thread.tags.each do |tag| %>
          <span class="tag is-small is-primary"><%= tag.name %></span>
        <% end %>
      </div>
    <% end %>
  <% else %>
    検索にヒットしたチャットがありません。
  <% end %>
</div>
</div>
