<% @message_thread.messages.each do |message| %>
  <% flex_direction = message.user? ? "is-flex-direction-row-reverse" : "" %>
  <div style="" class="is-flex <%= flex_direction %>" data-message-id="<%= message.id %>">
    <div class="<%= message_type_class(message) %>">
      <div class="box">
        <%= markdown_to_html(message.content) %>
        <%= hidden_field_tag("message-#{message.id}", message.content) %>
        <% if message.message_files.attached? %>
          <% message.message_files.each do |message_file| %>
            <%= link_message_file(message_file) %><br>
          <% end %>
        <% end %>
      </div>
      <div class="copy">
        <%= link_to(
          "#",
          onclick: "copyButton('message-#{message.id}'); return false;"
          ) do %>
          <i class="fa fa-copy"></i>
          <span><%= t("common.copy") %></span>
        <% end %>
        <%= content_tag(:span, t("common.copied"), id: "copy-message-#{message.id}", style: "color:red; display: none;") %>
      </div>
    </div>
  </div>
<% end %>

<%# リアルタイム表示用のアシスタントメッセージ領域 %>
<div id="streaming-message-container" style="display: none;">
  <div class="is-flex">
    <div class="assistant-message">
      <div class="box">
        <div id="streaming-message-content"></div>
      </div>
    </div>
  </div>
</div>

<%= form_with(model: @user_message, url: add_message_chat_path(@message_thread), method: :post, html: { class: "new-message-form" }) do |f| %>
  <%= render('form', f: f) %>
<% end %>

<%= link_to(t('common.edit_title'), edit_chat_path(@message_thread), class: "button is-primary is-light is-normal mt-1") %><br>
<%= link_to(
  t("common.delete"),
  chat_path(@message_thread),
  class: 'delete-link button is-danger is-light is-normal mt-1',
  data: { confirm: t("common.delete_confirm"), method: 'delete' }
) %><br>
<%= open_hide_link %>

<script type="module">
  <%= render partial: "chats/show", formats: :js %>
  <% if use_http_call? %>
    <%= render partial: "chats/http_call", formats: :js %>
  <% elsif use_websocket? %>
    <%= render partial: "chats/websocket", formats: :js %>
  <% end %>
</script>
