<div class="table-container">
  <table class="table is-bordered is-hoverable is-narrow">
    <thead>
      <tr>
        <th class="has-text-centered">ID</th>
        <th class="has-text-centered"><%= t("activerecord.attributes.user.name") %></th>
        <th class="has-text-centered"><%= t("activerecord.attributes.user.email") %></th>
        <th class="has-text-centered"><%= t("activerecord.attributes.user.role") %></th>
        <th class="has-text-centered"><%= t("activerecord.attributes.user.status") %></th>
        <th class="has-text-centered"><%= t("common.operation") %></th>
      </tr>
    </thead>
    <tbody>

    <tfoot>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td class="has-text-centered"><%= active_icon(user) %></td>
          <td>
            <%= link_to(t("common.show"), admin_user_path(user), class: 'button is-info is-light is-normal') %>
            <%= link_to(t("common.edit"), edit_admin_user_path(user), class: 'button is-primary is-light is-normal') %>
            <%= link_to(t("common.delete"), admin_user_path(user), class: 'button is-danger is-light is-normal', data: { confirm: '本当に削除しますか？', method: 'delete' }) %>
          </td>
        </tr>
      <% end %>
    </tfoot>
  </table>
</div>
