<% # 検索フォーム %>
<%= search_form_for(@q, url: admin_users_path, local: true, class: "box mb-4") do |f| %>
  <div class="field is-grouped">
    <div class="control is-expanded">
      <%= f.label(:name_cont, t("activerecord.attributes.user.name"), class: "label") %>
      <%= f.text_field(:name_cont, class: "input", placeholder: "名前", value: params.dig(:q, :name_cont)) %>
    </div>
    <div class="control is-expanded">
      <%= f.label(:email_cont, t("activerecord.attributes.user.email"), class: "label") %>
      <%= f.text_field(:email_cont, class: "input", placeholder: "メールアドレス", value: params.dig(:q, :email_cont)) %>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control is-expanded">
      <%= f.label(:role_eq, t("activerecord.attributes.user.role"), class: "label") %>
      <div class="select">
        <%= f.select(
          :role_eq,
          User.roles.map{|role_name, value| [t("activerecord.attributes.user.#{role_name}"), value] },
          { include_blank: "", selected: params.dig(:q, :role_eq) },
          { class: "select" }) %>
      </div>
    </div>
    <div class="control is-expanded">
      <%= f.label(:active_eq, t("activerecord.attributes.user.status"), class: "label") %>
      <div class="select">
        <%= f.select(
          :active_eq,
          { t("activerecord.attributes.user.active") => "1", t("activerecord.attributes.user.inactive") => "0" },
          { include_blank: "", selected: params.dig(:q, :active_eq) },
          { class: "select" }) %>
      </div>
    </div>
  </div>
  <%= f.submit(t("common.search"), class: "button is-primary is-light is-normal") %>
<% end %>

<%= link_to '新規作成', new_admin_user_path, class: 'button is-primary is-light is-normal mb-4' %>

<% # ユーザー一覧(テーブル表示) %>
<%= render("index_table", users: @users) %>
