<%= link_to '新規作成', new_admin_user_path, class: 'button is-primary is-light is-normal mb-4' %>

<%= form_with(url: search_admin_users_path, method: :get, local: true, class: "box mb-4") do |f| %>
  <% # todo: 見た目をもっとコンパクトに %>
  <div class="field">
    <%= f.label(:name, t("activerecord.attributes.user.name"), class: "label") %>
    <%= f.text_field(:name, class: "input", placeholder: "名前", value: params[:name]) %>
  </div>
  <div class="field">
    <%= f.label(:email, t("activerecord.attributes.user.email"), class: "label") %>
    <%= f.text_field(:email, class: "input", placeholder: "メールアドレス", value: params[:email]) %>
  </div>
  <div class="field">
    <%= f.label(:role, t("activerecord.attributes.user.role"), class: "label") %>
    <div class="select">
      <%= f.select(:role, User.roles.keys.map { |k| [t("activerecord.attributes.user.#{k}"), k] }, {}, { class: "select", value: params[:role] }) %>
    </div>
  </div>
  <div class="field">
    <%= f.label(:active, class: "label") do %>
      <% # debugger %>
      <%= f.check_box(:active, { class: "checkbox", checked: params[:active] == "1" || params[:active].blank? }, "1", "0") %>
      <%= t("activerecord.attributes.user.active") %>
    <% end %>
  </div>
  <%= f.submit("検索", class: "button is-primary is-light is-normal") %>
<% end %>

<% if @users.empty? %>
  <p class="is-size-6">データがありません。</p>
<% else %>
  <%= render("index_table", users: @users) %>
<% end %>
