<div class="box">
  <div class="title is-4">
    <%= @gpt_model.name %>
  </div>
  <div class="subtitle is-6">
    <%= @gpt_model.description %>
  </div>
  <div class="is-size-6 mb-4">
    <%= t("activerecord.attributes.gpt_model.status") %>：<%= active_icon(@gpt_model) %>
  </div>

  <div>
    <%= link_to(t("common.edit"), edit_admin_gpt_model_path(@gpt_model), class: 'button is-primary is-light is-normal') %>
    <%= link_to(t("common.delete"), admin_gpt_model_path(@gpt_model), class: 'button is-danger is-light is-normal', data: { confirm: t("common.delete_confirm"), method: 'delete' }) %>
    <%= link_to(t("common.back"), admin_gpt_models_path, class: 'button is-warning is-light is-normal') %>
  </div>
</div>