<% # is-fixed-top で固定表示にする。 %>
<header class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <div class="is-size-3-desktop is-size-4-tablet is-size-6-mobile">
        <%= link_to(Rails.configuration.static_config.title, root_path) %>
      </div>
    </div>

    <% # ハンバーガーメニューアイコン（モバイル表示時のみ表示） %>
    <a role="button" class="navbar-burger is-hidden-desktop" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <% # モバイル表示時のみ表示されるサイドバーメニュー %>
      <% if user_signed_in? %>
        <div class="navbar-item is-hidden-desktop" style="width: 100%;">
          <%= render('layouts/sidebar') %>
        </div>
      <% end %>
    </div>

    <div class="navbar-end">
      <% if chats_controller? %>
        <div class="navbar-item">
          <%= form_with(url: search_chats_path, method: :get, class: "field has-addons", id: "search-form") do |f| %>
            <div class="control">
              <%= text_field_tag :search, nil, placeholder: '検索', class: "input", value: params[:search] %>
            </div>
            <div class="control">
              <a class="button is-info" onclick="document.getElementById('search-form').submit();"><i class="fa fa-search"></i>検索</a>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="navbar-item">
        <%= link_to(
          'ログアウト',
          destroy_user_session_path,
          class: 'navbar-item button delete-link fa fa-door-open',
          data: { confirm: 'ログアウトしますか？', method: 'delete' }
        ) %>
      </div>
    </div>
  </div>
</header>
