<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= Rails.configuration.static_config.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Chatgpt">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if use_websocket? %>
      <% # ActionCableのURL設定 %>
      <%= tag.meta name: "action-cable-url", content: "/cable" %>
    <% end %>

    <%= yield :head %>

    <% # Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <% #= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <% # ファビコン（サブディレクトリ対応） %>
    <link rel="icon" href="<%= "/icon.png" %>" type="image/png">
    <link rel="icon" href="<%= "/icon.svg" %>" type="image/svg+xml">
    <link rel="apple-touch-icon" href="<%= "/icon.png" %>">

    <% # font awesome %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <% # Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% jquery_path = "/jquery-3.7.1.min.js" %>
    <script src="<%= jquery_path %>"></script>
    <%= javascript_importmap_tags %>
  </head>

  <% # bulmaのデフォルトのnavbarを固定表示にする場合、bodyにもhas-navbar-fixed-topクラスを追加する。 %>
  <body class="m-2 <%= 'has-navbar-fixed-top' if user_signed_in? %>">
    <main class="columns">
      <% # サイドバーメニュー（デスクトップ表示時のみ表示） %>
      <% if user_signed_in? %>
        <div class="submenu column is-3 is-hidden-touch">
          <%= render('layouts/sidebar') %>
        </div>
      <% end %>

      <div class="column <%= 'is-9-desktop' if user_signed_in? %>">
        <% # navbarメニュー %>
        <%= render('layouts/navbar_menu') if user_signed_in? %>

        <% # フラッシュメッセージ %>
        <%= render('layouts/flash_messages') if user_signed_in? %>

        <% # メインコンテンツ %>
        <%= yield %>

        <%= render("layouts/sql_queries") %>
      </div>
    </main>
  </body>
</html>
