<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Chatgpt" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Chatgpt">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# bulma css and font awesome %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <% if false # debug %>
  <body class="<%= 'has-navbar-fixed-top' if user_signed_in? %>">
    <div class="layout-container">
      <% if user_signed_in? %>
        <aside class="sidebar">
          <%= render 'layouts/sidebar' %>
        </aside>
      <% end %>
      <main class="main-content">
        <% if need_toplevel_flash_messages? %>
          <%= render 'layouts/flash_messages' %>
        <% end %>
        <% if user_signed_in? %>
          <%= render 'layouts/navbar_menu' %>
        <% end %>
        <%= yield %>
      </main>
    </div>
  </body>
  <% end %>

  <body>
    <%# navbarメニュー %>
    <header class="navbar">
      <div class="navbar-brand">
        <span class="navbar-item">
          <span class="fa fa-language"></span>一言SNS
        </span>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" name="search" placeholder="キーワード検索">
            </div>
            <div class="control">
              <a class="button is-info"><i class="fa fa-search"></i>検索</a>
            </div>
          </div>
        </div>
        <div class="navbar-item">
          <a href="#"><i class="fa fa-user"></i>ログイン</a>
        </div>
      </div>
    </header>

    <%# heroレイアウト。webページの閲覧者に印象づけたいコンテンツを載せる %>
    <div class="hero is-info is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">CASAREAL</h1>
          <h2 class="subtitle">@casareal-ls</h2>
        </div>
      </div>
    </div>

    <%# levelクラスでボタン等を水平に並べる。heroレイアウトの直下にフォローボタン等を用意。 %>
    <section class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="level-item tabs">
          <ul>
            <li class="is-active"><a>最近の一言</a></li>
              <li><a>古い一言</a></li>
              <li><a>コメント付き</a></li>
            </ul>
          </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <a class="button is-greylight">フォロー</a>
        </div>
      </div>
    </section>

    <%# メインコンテンツ（にする予定） %>
    <%#= yield %>

    <main class="columns">
      <div class="submenu column is-3">
          <aside>
          カサレアルは、ＸＸＸＸＸＸＸＸを実現する△△△△△△△△です。
          </aside>
      </div>
      <div class="column">
          本文
      </div>
    </main>
  </body>
</html>
