<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Chatgpt" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Chatgpt">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# bulma css and font awesome %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body class="m-2 <%= 'has-navbar-fixed-top' if user_signed_in? %>">
    <main class="columns">

      <%# サイドバーメニュー %>
      <% if user_signed_in? %>
        <div class="submenu column is-3">
          <%= render('layouts/sidebar') %>
        </div>
      <% end %>

      <%# フラッシュメッセージ %>
      <% if need_toplevel_flash_messages? %>
        <%#= render('layouts/flash_messages') %>
      <% end %>

      <div class="column is-9">
        <%# navbarメニュー %>
        <%= render('layouts/navbar_menu') if user_signed_in? %>

        <%# メインコンテンツ %>
        <%= yield %>
      </div>
    </div>
  </body>

  <% if false # debug %>
  <body>
    <%# navbarメニュー %>
    <header class="navbar">
      <div class="navbar-brand">
        <span class="navbar-item">
          <span class="fa fa-language"></span>一言SNS
        </span>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" name="search" placeholder="キーワード検索">
            </div>
            <div class="control">
              <a class="button is-info"><i class="fa fa-search"></i>検索</a>
            </div>
          </div>
        </div>
        <div class="navbar-item">
          <a href="#"><i class="fa fa-user"></i>ログイン</a>
        </div>
      </div>
    </header>

    <%# heroレイアウト。webページの閲覧者に印象づけたいコンテンツを載せる %>
    <div class="hero is-info is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">ChatGPT Clone</h1>
          <h2 class="subtitle">@tshirai.work</h2>
        </div>
      </div>
    </div>

    <%# levelクラスでボタン等を水平に並べる。heroレイアウトの直下にフォローボタン等を用意。 %>
    <section class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="level-item tabs">
          <ul>
            <li class="is-active"><a>最近の一言</a></li>
              <li><a>古い一言</a></li>
              <li><a>コメント付き</a></li>
            </ul>
          </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <a class="button is-greylight">フォロー</a>
        </div>
      </div>
    </section>

    <%# メインコンテンツ（にする予定） %>
    <%#= yield %>

    <main class="columns">
      <%# column is-3 で画面の3/12を占有。%>
      <div class="submenu column is-3">
        <%# boxクラスで 角丸、白地のエリアを作成 %>
      　<aside class="box">
          カサレアルは、ＸＸＸＸＸＸＸＸを実現する会社です。私たちは△△△△△△△△を通じて社会に貢献していきます。
        </aside>
        <%# menuで垂直型のナビゲーションを作成 %>
        <aside class="box menu">
          <p class="menu-label">
            おすすめの一言
          </p>
          <ul class="menu-list">
            <li><a href="#">株式会社カサ<small>@casainc</small></a></li>
            <li><a href="#">レア製作所<small>@rea-product</small></a></li>
            <li><a href="#">オフィス・アル<small>@office-al</small></a></li>
          </ul>
          <p class="menu-label">
              キーワード
          </p>
          <ul class="menu-list">
            <li><a href="#">システム開発</a></li>
            <li><a class="is-active" href="#">技術教育</a>
              <ul>
                <li><a href="#">一社研修</a></li>
                <li><a href="#">定期開催コース</a></li>
              </ul>
            </li>
            <li><a href="#">ソフトウェアテスティング</a></li>
          </ul>
        </aside>
      </div>

      <%# 前のcolumnで 3/12を使っているので、残りは以下のcolumnで使われる。 %>
      <%# ここがメインコンテンツになる。 %>
      <div class="column">
        <article class="box media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="http://placehold.it/128x128">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p><strong>CASAREAL</strong><br>
                内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容<br>
                <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
              </p>
            </div>
            <article class="media">
              <figure class="media-left">
                <p class="image is-48x48">
                    <img src="http://placehold.it/96x96">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p><strong>Sean Brown</strong><br>
                    コメントコメントコメントコメントコメントコメントコメントコメントコメントコメント<br>
                  <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                  </p>
              </div>
              <article class="media">
                リプライリプライリプライリプライリプライリプライリプライリプライリプライリプライ。
              </article>
              <article class="media">
                リプライリプライリプライリプライリプライリプライリプライリプライリプライリプライ。
              </article>
            </div>
          </article>
        </div>
        </article>
        <article class="box media">
          <figure class="media-left">
            <p class="image is-48x48">
              <img src="http://placehold.it/96x96">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p><strong>CASAREAL</strong><br>
                内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容<br>
                <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
              </p>
            </div>
          </div>
        </article>
      </div>
    </main>

    <%# footerレイアウト。footerクラスを使う %>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          2020 ©CASAREAL
        </div>
      </div>
    </footer>
  </body>
  <% end %>
</html>
