<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Chatgpt" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Chatgpt">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# bulma css and font awesome %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%# bulmaのデフォルトのnavbarを固定表示にする場合、bodyにもhas-navbar-fixed-topクラスを追加する。 %>
  <body class="m-2 <%= 'has-navbar-fixed-top' if user_signed_in? %>">
    <main class="columns">
      <%# サイドバーメニュー %>
      <% if user_signed_in? %>
        <div class="submenu column is-3">
          <%= render('layouts/sidebar') %>
        </div>
      <% end %>

      <div class="column is-9">
        <%# navbarメニュー %>
        <%= render('layouts/navbar_menu') if user_signed_in? %>

        <%# フラッシュメッセージ %>
        <% if need_toplevel_flash_messages? %>
          <%# どこに表示するかは別途検討する。 %>
          <%#= render('layouts/flash_messages') %>
        <% end %>

        <%# メインコンテンツ %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
